*
{
    margin: 10;
    padding: 10;
    font: sans-serif;
}

#mobile_menu
{
    display: none;
    padding: 3px;
    background-color: steelblue;
}

.slicknav_menu
{
    background-color: steelblue;
}

.slicknav_btn
{
    background-color: steelblue;
}

header
{
    padding-left: 3.3333%;
    padding-right: 3.3333%;
    margin-top: 1em;
    margin-bottom: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 0.3125em solid steelblue;
    background-image: linear-gradient(white, steelblue);
    color: black;
}

body
{
    align-content: center;
    max-width: 1024px;
    width: 95%;
    border: 0.3125em;
    border-style: solid;
    border-color: steelblue;
    box-shadow: 0 0 0.3125em 0.3125em black;
    margin: auto;
    font-family: sans-serif;
}

main
{
    margin-left: 3.3333%;
    padding-left: 3.3333%;
    margin-right: 3.3333%;
    padding-right: 3.3333%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

main form div
{
    width: 50%;
    padding: .3em;
}

main form
{
    text-align: left;  
    width: 50%;
    align-self: center;
}

main form ul li
{
    list-style-type: none;
}

main form label
{
    text-align: start;
}

main form input.checkbox
{
    width: auto;
}

main form input.button
{
    width: 60%;
}

@media only screen and (max-width: 900px)
{
    *
    {
        font-size: 90%;
    }
    body
    {
        box-shadow: none;
        width: 95%;
    }
    #mobile_menu
    {
        display: none;
    }
    header
    {
        padding-bottom:2em;
    }
    header h1
    {
        font-size: 200%;
    }
    header h3
    {
        font-size: 150%;
    }
    main form div
    {
    padding: .3em;
    }

    main form
    {
    width: 60%;
    align-self: left;
    font-size: 150%;
    }
}

@media only screen and (max-width: 767px)
{
    body
    {
        width: 95%;
    }

    #nav_menu
    {
        display: none;
    }

    #mobile_menu
    {
        display: block;
    }

    main
    {
        width: 100%;
        order: 3;
        border: 0;
        margin-top: 0;
        flex-direction: row;
    }
    header
    {
        font-size: inherit;
        padding-bottom:initial;
    }
    main form
    {
        width: 90%;
        font-size: 100%;
    }
}

@media only screen and (max-width: 479px)
{
    body
    {
        font-size: initial;
    }
    header
    {
        font-size: 70%;
        padding-bottom: 3em;
    }
    header h1
    {
        font-size: 300%;
    }
    header h3
    {
        font-size: 200%;
    }
    p
    {
        font-size: 70%;
    }
}

h1
{
    font: sans_serif;
    color: black;
}

header h2
{
    color: darkblue;
    font-style: italic;
}

h3 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h3 span { 
     background:#fff; 
     padding:0 10px; 
 }

#nav_menu
{
    width: 100%;
    margin-bottom: 0;
}

#nav_menu ul
{
    list-style-type: none;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    border-top: none;
}

#nav_menu li
{
    margin-top: 0;
    margin-bottom: 0;
}

#nav_menu ul li
{
    float: left;
    width: 33.3333%;
}

#nav_menu ul li a
{
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: steelblue;
    color: white;
}

#nav_menu ul li a:hover
{
    color: black;
    background-color: lightsteelblue;
}

#mobile_menu ul li a:hover
{
    background-color: lightsteelblue;
}

#mobile_menu ul ul li a:hover
{
    background-color: lightsteelblue;
}

section
{
    flex-basis: 70%;
    order: 1;
}

aside
{
    padding-left: 3.3333%;
    margin-right: 3.3333%;
    padding-right: 3.3333%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    width: 27.2222%;
    order: 2;
    flex-basis: 30%;
}

.req
{
    color: red;
}